@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

 html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    text-decoration: none!important;
    color: #0B093B;
  }
  a:hover {
    color: #7620FF;
  }
  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #fff inset; /* Change the color to your own background color */
    box-shadow: transparent;
    -webkit-text-fill-color: #fff;
  }
  body {
    background: #fff;
    color: #0B093B;
    font-family: 'Raleway';

    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
  }
  .container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 30px;
  }
  .container70 {
    width: 70%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 30px;
  }

  .container50 {
    width: 50%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 30px;
  }
  
  .container80 {
    width: 80%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 30px;
  }
  @media only screen and (max-width: 859px) {
    .container {
      padding: 0 15px;
    }
  }
  .regular {
    font-weight: 400!important;
  }
  .semiBold {
    font-weight: 600!important;
  }
  .extraBold {
    font-weight: 800!important;
  }

  /* HELLPERS */
  .animate {
    transition: 0.3s ease;
  }
  .pointer {
    cursor: pointer;
  }
  .relative {
    position: relative;
  }
  .textCenter {
    text-align: center;
  }
  .textLeft {
    text-align: left;
  }
  .textRight {
    text-align: right;
  }
  .x100 {
    width: 100%;
  }
  .active {
    border-bottom: 2px solid #7620FF;
    color: #7620FF;
  }
  .disabled-link {
    pointer-events: none;
  }
  .tag {
    padding: 5px 10px;
    margin: 10px 0;
  }
  .box {  
    padding: 5px 0;
    margin: 10px 0; 
  }
  .borderShow {
    border: 1px solid #7620FF;
  }
  .borderBottom {
    border-bottom: 1px solid #707070;
    padding: 10px 0 0;
  }
  .shadow {
    box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
    -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
    -moz-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5)  ; 
  }
  .tableStripe:nth-child(even){
    background:rgba(237, 232, 237, 0.5)
    }
  .tableStripe:nth-child(odd){
  background:rgba(164, 141, 206, 0.41)
  }
  
  .link-active {
    color: black;
    background: orange;
  }
  /* Form */
  .main-form {
    color: #222222;
    font-size: 12px;
    width: 70%;
  }
  /* Margin Right 28px */
  .marginRight{
    margin-right: 28px;
  }
  /* FLEXBOX */
  .flex {
    display: flex;
  }
  .flexCol{
    flex:1
  }
  .flexColBig{
    flex:2
  }
  .flexRowGap{
    display: flex;
    row-gap: 30px;
    justify-content: space-between
  }
  .flexSpaceCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexNullCenter {
    display: flex;
    align-items: center;
  }
  .flexColumn {
    flex-direction: column;
  }
  .flexRow{
    display: flex;
    flex-direction: row;
  }
  .flexRowReverse{
    display: flex;
    flex-direction: row-reverse;
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexHorizontalCenter {
    display: flex;
    justify-content: center;
  }
  .flexRight {
    display: flex;
    justify-content: right;
    /* align-items: right; */
  }
  .flexLeft {
    display: flex;
    justify-content: left;
    /* align-items: right; */
  }
  .flexEnd {
    display: flex;
    justify-content: flex-end;
  }
  .flexStart {
    display: flex;
    justify-content: flex-start;
  }
  .flexSpaceNull {
    display: flex;
    justify-content: space-between;
  }
  .flexList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flexGrow1{
    flex-grow: 1;
  }
  .flexGrow2{
    flex-grow: 2;
  }
  .flexGrow4{
    flex-grow: 4;
  }
  .flexWrapper100{
    width: 100%
  }
  .flexWrapper70{
    width: 70%
  }
  .flexWrapper60{
    width: 60%
  }
  .flexWrapper50{
    width: 50%
  }
  .flexWrapper40{
    width: 40%
  }
  .flexWrapper30{
    width: 30%
  }
  .flexWrapper25{
    width: 25%
  }
  .flexWrapper20{
    width: 20%
  }
  .flexBasket {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    text-align: left;
    padding: 20px 30px;
    margin-top: 30px;
   }
  .flexHead {
    width: 100%;
    height: 70px;
  }
  .flexOverview {
    flex: 4;
    width: 100%;
    overflow: hidden;
  }
  .flexRisk {
    flex: 3;
    width: 100%;
  }
  .flexButton {
    height: 50px;
    width: 100%;
  }
  
  .flexPro1{
    flex: 1 
  }
  .flexPro4{
    flex: 4 
  }

  /* FONT SIZES */
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.75rem;
  }
  .font13 {
    font-size: 0.813rem;
  }
  .font14 {
    font-size: 0.875rem;
  }
  .font15 {
    font-size: 0.938rem;
  }
  .font18 {
    font-size: 1.125rem;
  }
  .font20 {
    font-size: 1.25rem;
  }
  .font25 {
    font-size: 1.563rem;
  }
  .font30 {
    font-size: 1.875rem;
  }
  .font40 {
    font-size: 2.5rem;
  }
  .font60 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }

    /* Overriding styles */

  ::-webkit-input-placeholder {
    font-size: 13px!important;
  }

  :-moz-placeholder { /* Firefox 18- */
      font-size: 13px!important;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 13px!important;
  }
  
  @media only screen and (max-width: 859px) {
    .font11 {
      font-size: 0.688rem;
    }
    .font12 {
      font-size: 0.688rem;
    }
    .font13 {
      font-size: 0.75rem;
    }
    .font14 {
      font-size: 0.813rem;
    }
    .font15 {
      font-size: 0.813rem;
    }
    .font18 {
      font-size: 0.938rem;
    }
    .font20 {
      font-size: 1.125rem;
    }
    .font25 {
      font-size: 1.25rem;
    }
    .font30 {
      font-size: 1.5rem;
    }
    .font40 {
      font-size: 1.875rem;
    }
    .font60 {
      font-size: 2.8rem;
    }
  }
  .borderText{
    border: 1px;
    border-radius: 0.6rem;
  }
  /* BORDER RADIUS */
  .radius8 {
    border-radius: 1rem;
  }
  .radius6 {
    border-radius: 0.6rem;
  }
  /* COLORS */
  .darkColor {
    color: #0B093B;
  }
  .purpleColor {
    color: #7620FF;
  }
  .orangeColor {
    color: #F2B300;
  }
  .lightColor {
    color: #F5F5F5;
  }
  .coralColor {
    color: #C4FFFF;
  }
  .greenColor {
    color: #49CB86;
  }
  .greyColor {
    color: #707070;
  }
  .whiteColor {
    color: #fff;
  }
  /* BACKGROUNDS */
  .darkBg {
    background-color: #0B093B;
  }
  .purpleBg {
    background-color: #7620FF;
  }
  .orangeBg {
    background-color: #f29d00b4;
  }
  .lightBg {
    background-color: #F5F5F5;
  }
  .coralBg {
    background-color: #C4FFFF;
  }
  .greenBg {
    background-color: #49CB86;
  }
  .greyBg {
    background-color: #707070;
  }
  .whiteBg {
    background-color: #fff;
  }
  .redBg {
    background-color:rgba(238, 20, 20, 0.662);
  }
  .redColor{
    color:red
  }
  .greenColor{
    color:green
  }
.searchBasket{
  /* padding-right:300px; */
  min-height: 70vh;
  /* margin-left: 0; */
}
.searchBar{
  /* margin-right: 0; */
  margin-top: 20px;
  /* margin-left:300px; */
}


input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid #7620FF;
  border-radius: 0.6rem;
}

input[type="search"]::placeholder {
  color: rgb(133, 126, 126);
}



input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

form.nosubmit {
 border: none;
 padding: 0;
}

input.nosubmit {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  padding: 9px 4px 9px 40px;
   background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.tagStyle{
  background: white;
  color: rgb(53, 51, 51);
  border-color: rgb(94, 92, 92);
  border-radius: 0.6rem ;
  margin:5px;
}

.tagStyle:hover{
  background-color: black !important;
}



/* stripe CSS */

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.subscribeButton{
  border: 1px solid #7620ff;
  background-color:  #7620ff;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 15px;
  color: #fff;
  
}

.subscribeButton:hover {
  background-color: #580cd2;
  border: 1px solid #7620ff;
  color:#fff;
}

.smallsubscribeButton{
  border: 1px solid #7620ff;
  background-color:  #7620ff;
  width: 100px;
  padding: 5px;
  outline: none;
  font-size: 12px;
  color: #fff;
  
}

.smallsubscribeButton:hover {
  background-color: #580cd2;
  border: 1px solid #7620ff;
  color:#fff;
}

.discoverPage{
  margin-top:50px;
  min-height:87vh;
}

.btn-check:checked+.btn-primary {
  background-color: #7620FF;
}

.metricsBox{
  padding:32px
}

.borderRad{
  border-radius: 0.6rem ;
}